header {
    background-color: #244751;
    color: #E8fdff;
}

body {
    background-color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
}

main {
    background-color: white;
    padding: 1em;
}

.finstagram-post {
    margin-bottom: 10%;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo {
    transition: 0.5s;
}

a.photo:hover {
    padding: 0.5em;
}

.finstagram-post .user-info img {
    transition: 0.5s;
}

.finstagram-post .user-info img:hover {
    border-radius: 25%;
}